<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/styles.css" />
    <title>Xss Attack</title>
  </head>
  <body>
    <center>
      <h1>List</h1>
      <form id="form">
        <input id="user-input" type="text" />

        <button type="submit">Add task</button>
      </form>

      <div style="margin-top: 30px" id="list-container">
        <ul id="insert-here">
          <script>
            var currentSearch = document.location.search;
            var objUrl = new URLSearchParams(currentSearch);

            var newDirection = objUrl.get("redir");

            if (newDirection) {
              document.location = newDirection;
            }
          </script>
        </ul>
      </div>
    </center>
  </body>
</html>
